
.zebi{

  width: 20%;
    height: 35%;
    flex: 0 0 400px;
    margin-right: 25px;
    margin-top: 25px;
    vertical-align: top;
    box-shadow: 10px 5px 5px rgb(174, 166, 166);
    .card:last-child {
    margin-right: 0; /* Supprime la marge droite de la dernière carte pour éviter un espace blanc à la fin */

  .cardAll{
  
    
      }

     

      .contenuCardAll{
        display: flex;
        justify-content: space-around;
        
        margin-top: 30px;
        margin-bottom: 30px;

        .contenuHautAll{
            display: flex;
            font-size: large;
            font-weight: bold;
            flex-direction: column;
        }
      }
}

}
