




video{
    
    width: 100%; /* Largeur à 100% de son conteneur */
    max-width: 100%; /* Largeur maximale de 800 pixels */
    height: 65vh; /* Hauteur automatique en fonction de la largeur */
   object-fit: cover;

  
}